<div class="staff-details">
  <div class="title">
    <h2>Staffs</h2>
    <a href="#" class="btn">View All</a>
  </div>
  <table>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Position</th>
    </tr>
    {{#each counts.staffList}}
      <tr>
        <td>{{staff_name}}</td>
        <td>{{department_name}}</td>
        <td>{{position}} </td>
      </tr>
    {{/each}}
  </table>
</div>
<div class="departments">
  <div class="title">
    <h2>Departments</h2>
    <a href="#" class="btn">View All</a>
  </div>
  <table>
    <tr>
      <th>Dept ID</th>
      <th>Name</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Administrator</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Petrole</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Investigative service</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Service</td>
    </tr>
    
  </table>
</div>