<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center,.right{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
    </style>
</head>
<body>
    {{>usernav}}
    <div class="mainBox">
            <div class="left">
                
            </div>
            <div class="center">
                <div class="content">
                        Prosessing..
                </div>
            </div>
            <div class="right">
                <div class="content">
                        Compleated..
                </div>
            </div>
    </div>

    {{> Cards}}

</body>
</html>